* {

    margin: 0;
}

#library_page {

    display: grid;
    grid-template-columns: repeat(7, 275px);
    grid-template-rows: repeat(9, 100px);
    
}

.navbar {

    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #2C2C54;
    justify-content: space-evenly;
    align-items: center;

}

#user_greeting {

    color: azure;
    font-weight: bold;
    font-size: x-large;
    
}

.navbar-buttons {

    display: flex;
    width: 800px;
    justify-content: space-evenly;
}

#show_all_books,
#show_only_available_books,
#add_book_to_library,
#check_out_book {

    border-radius: 10px;
    height: 30px;
    width: auto;

}

#library_collection_display_area {

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #474787;

}

.new_book_popup_form {

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.8s ease-in-out;
    z-index: -1;

}

.book_entry {


    border: 2px solid silver;
    grid-row-start: span 2;
    grid-column-start: span 1;
}

.loading_circle {

    grid-row-start: 6;
    grid-row-end:8;
    grid-column-start: 4;
    grid-column-end: 5;
    border: 16px solid #d4d1d1;
    border-radius: 50%;
    border-top: 16px solid #5ba3d7;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2.5s linear infinite ; /* Safari */
    animation: spin 2.5s linear infinite ;

}

#loading_message_element {

    grid-row-start: 5;
    grid-row-end: 5; 
    grid-column-start: 4;
    grid-column-end: 5;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


.form {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    background-color: #3D405B;
    color: azure;
    height: 300px;
    width: 600px;
    border: 5px solid rgb(159, 109, 109);
}

#title_label {

    font-size: large;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;

}

#title {

    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

#author_label {

    font-size: large;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;

}

#author {

    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 5;
}

#page_count_label {

    font-size: large;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 8;
}

#page_count {

    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 7;

}

#year_published_label {

    font-size: large;
    font-weight: bold;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 10;
}

#year_published {

    grid-column-start: 4;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 9;
}

#submit_new_book_popup_form {

    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: -1;

}

.new_book_popup_form.open {

    opacity: 1;
    z-index: 800;
}
