* {

    margin: 0;
}

.library_page {

    display: grid;
    grid-template-columns: repeat(7, 275px);
    grid-template-rows: repeat(9, 100px);
    
}

.navbar {

    display: flex;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #2C2C54;
    justify-content: space-evenly;
    align-items: center;

}

#user_greeting {

    color: azure;
    font-weight: bold;
    font-size: x-large;
    
}

.navbar-buttons {

    display: flex;
    width: 800px;
    justify-content: space-evenly;
}

#show_all_books,
#show_only_available_books,
#add_book_to_library,
#check_out_book {

    border-radius: 10px;
    height: 30px;
    width: auto;

}

.library_collection_display_area {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row-start: 2;
    grid-row-end: -1;
    grid-column-start: 1;
    grid-column-end: -1;
    background-color: #474787;

}